@using FoxClub.Models;
@model Fox;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li>
            <a href="/home/?name=@Model.Name">information</a>
        </li>
        <li>
            <a href="/nutritionstore/?name=@Model.Name">nutrition store</a>
        </li>
        <li>
            <a href="/trickcenter/?name=@Model.Name">trick center</a>
        </li>
    </ul>
    <img src="~/greenfox.png" />
    <p>This is @Model.Name. Currently living on @Model.Food and @Model.Drink. He knows @Model.Tricks.Count trick(s).</p>
    <h2>Known tricks</h2>

    @if (Model.Tricks.Count.Equals(0))
    {
        <p>This fox doesnt know any tricks.</p>
    }
    else
    {
        <ul>
            @foreach (var trick in Model.Tricks)
            {
                <li>@trick</li>
            }
        </ul>
    }
</body>
</html>